.page {
  margin: 5vh auto;
  padding: 12px;
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 5px;
  
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    border: none;
    text-align: left;
    width: 100%;
  }
}

.header {
  padding-bottom: 8px;
  border-bottom: 1px solid lightgray;
}
